:root {
    --primary: #317BE7;
    --secondary: #378BFF;
    --danger: #FF3F3F;
    --danger-hover : #FF5A5A;
    --emphasys: #1D429D;
    --font-color: #646873;
    --gray-bg: #656971;
    --gray-dark: #292D2E;
    --gray-forms: #C9C9CA;
    --bs-font-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
    --icon-sprite: url("https://fincaraiz.com.co/App_Theme/images/Especial_Constructora_Bolivar/css_sprites.png");
    --icon-checkbox: url("https://fincaraiz.com.co/App_Theme/images/sprite_FR-01.svg");
    --ilustration: url("https://fincaraiz.com.co/App_Theme/images/Especial_eje/footer_illustration.png");
}